body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(231, 161, 194);
  color: black;
}
.ingredienser,
.fremgangsmaade,
.oppe {
  background-color: pink;
}
section.ingredienser li {
  list-style-type: circle;
}
#overskrifti,
#overskriftf,
#overskrift,
#servering {
  color: hotpink;
}
.oppe {
  text-align: center;
}
img {
  border-radius: 10%;
  border: 3px dotted hotpink;
}
#undertekst {
  border: 3px solid hotpink;
}
