body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0;
  padding: 0;
  background-color: hotpink;
}
main {
  display: grid;
  grid-template-areas:
    "header"
    "section-1"
    "section-2"
    "section-3"
    "footer";
  gap: 10px;
}
@media (min-width: 600px) {
  main {
    display: grid;
    grid-template-areas:
      "header header header"
      "section-1 section-2 section-3"
      "footer footer footer";
    gap: 10px;
  }
}
#title {
  grid-area: header;
  text-align: center;
}
.section-1 {
  grid-area: section-1;
  background-color: pink;
  text-align: center;
  border: 20px solid pink;
}
.section-2 {
  grid-area: section-2;
  background-color: pink;
  border: 20px solid pink;
}
.section-3 {
  grid-area: section-3;
  background-color: pink;
  border: 20px solid pink;
}
img {
  border-radius: 10%;
  border: 3px solid hotpink;
}

footer {
  grid-area: footer;
  text-align: center;
  font-style: italic;
  font-size: small;
}
